@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies - Vidly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table class="table table-bordered table-hover">

    @if (!Model.Any()) {

        <p>We dont have any Movies :(</p>
    }
    else {
        @Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary"})
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model) {
                    <tr>

                        <td>@Html.ActionLink(m.Name, "Edit", new { id = m.Id })</td>
                        <td>@m.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>

    }
</table>

